section {
  min-height: 225px;
}
main:not(.re-arranging) > section > div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(50px, max-content);
}
.page-cast section,
.page-lab section > div {
  padding: 12px;
}

.re-arranging img.element {
  top: 50%;
}

.page-cast img.element {
  /* top: 50%; */
  transform: translate(-50%, 0%);
}
img.element {
  position: absolute;
  /* top: 50%; */
  left: 50%;
}

.editing img.element {
  transform: translate(-50%, 0%);
  width: 50%;
  height: auto;
}
.re-arranging img.element {
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.page-cast img.element {
  width: auto;
  height: 100%;
}

h1 {
  font-size: 5vw;
  line-height: 0.1;
}
h1,
h5 {
  padding-left: 60px;
}
.buttons {
  padding: 3px 0 9px;
  margin: 0 0 12px;
  border-style: inset inset solid;
  border-width: 0px 0px 1px;
  border-bottom-color: #aaa;
  background-color: rgba(255, 255, 255, 0.3);
  column-span: all;
  font-size: 16px;
  color: #555;
  text-align: right;
}
.buttons li {
  display: inline-block;
  margin: 0 6px;
}
.buttons button:hover {
  text-decoration: underline;
}
.buttons button,
.status button,
a {
  background-color: transparent;
  font-size: 16px;
  color: #777;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  padding: 1px 7px 2px;
}
.buttons span {
  cursor: default;
}
.buttons button:nth-child(n + 1) {
  border-left: 1px solid #777;
}

.remove {
  position: absolute;
  right: 33px;
}
.copy {
  position: absolute;
  right: 3px;
}

.page-lab .art-board span.clone-delete {
  position: absolute;
  top: -24px;
  font-size: 24px;
  right: 0;
}

.page-lab .art-board img + div {
  left: 18px;
  position: relative;
  font-size: 42px !important;
}

.re-arranging img + div {
  top: 18px;
}

.editing img + div {
  top: -50%;
}

.fa {
  color: #444;
}
.art-board .editing .element {
  position: relative;
}

.page-lab header,
.page-lab footer,
.page-lab section {
  cursor: pointer;
}
.styleForm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
}
.styleForm input[type="number"] {
  font-size: 2.7em !important;
}
.styleForm input[type="text"] {
  font-size: 1.8em !important;
}
select,
select:focus {
  height: 3.6em;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  border: none;
  /* transform: scaleX(-1); */
  outline: none;
}
select:not(.selectColor) {
  padding-top: 6px;
  width: 80px;
}
select.selectColor {
  padding-top: 9px;
  width: 80px;
}

.selectColor {
  background-color: transparent;
}

.selectBorder {
  /* background-color: #d4d4d4; */
}
label {
  display: block;
}
label > span {
  height: 18px;
  font-variant: small-caps;
  color: #444;
  display: block;
  font-size: 12px;
}
.page-lab option,
.page-lab section > * > * {
  cursor: pointer;
}
.selectColor option {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin: 0 3px;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  border-radius: 240em;
}
option {
  /* transform: scaleX(-1); */
}
select:not(.selectColor) option {
  min-width: 2em;
  min-height: 2em;
  display: inline-block;
  margin: 0 6px;
}

.ui-progress-spinner {
  width: 100% !important;
  height: 100% !important;
}

.ui-tabview.ui-widget-content {
  position: sticky;
  top: 12px;
}

.ui-tabview .ui-tabview-nav {
  display: grid !important;
  grid-gap: 1px;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  display: none !important;
}

.ui-tabview-nav.ui-widget-header.ui-corner-all {
  border-radius: 0;
}
.page-lab section > * {
  border: 1px dashed black;
  hyphens: auto;
}

.page-lab section:first-of-type > * {
  /* resize: both;
  overflow: auto; */
}
.page-lab {
  display: grid;
  grid-template-columns: 1fr 450px;
  grid-gap: 36px;
}

/* .page-lab main {
  width: 96%;
  margin: auto;
} */

.page-cast section > div {
  width: 960px;
  margin: auto;
}

.atoms,
.molecules,
.organisms {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  place-content: space-around;
  grid-gap: 6px; */
  display: flex;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  transform: scaleY(-1);
}

.ui-tabview .ui-tabview-panel {
  /* padding-left: 0 !important;
  padding-right: 0 !important; */
}
.ui-tabview-panel > .tile > .box {
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px 5px rgba(0, 0, 0, 0.05),
    2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  position: relative;
  text-align: center;
  margin: 5px;
  width: 45%;
  /* padding-top: calc(24% - 0.5em);
  padding-bottom: calc(24% - 0.5em); */
  min-height: 250px;
  font-size: 1.4vw;
  flex-grow: 1;
  transform: scaleY(-1);
}

.box .child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui-tabview-panel > .tile > div:before {
  top: 0;
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  right: 2px;
  height: 3px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.6);
}
.ui-tabview-panel > .tile > div:after {
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  right: 2px;
  height: 3px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15);
}

header,
footer {
  border: 1px solid #ddd;
  padding: 24px;
}

main {
  /* width: 97% !important; */
}

.page-lab .page {
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 1px 1px 1px !important;
  padding: 3px;
}
.page-lab .art-board {
  box-shadow: 0 0 #ccc, 2px -2px #fff, 3px -3px #ccc, 5px -5px #fff,
    6px -6px #ccc, 8px -8px #fff, 9px -9px #ccc;
  margin: 24px;
  position: relative;
}

.art-board .editing .element,
.art-board .react-grid-item .content p,
.page-cast section > div p {
  padding: 0 12px;
  margin: 0;
  /* transform: translate(10px, 10px); */
}

/* .art-board .react-grid-item .content {
  padding: 12px 18px 12px 12px;
} */
.react-grid-item {
  /* transform: translate(0px, 0px) !important; */
}

.ui-widget-header {
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px 1px 0 1px !important;
}
.ui-tabview.ui-tabview-top > .ui-tabview-nav li:not(.ui-state-active) {
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 0 1px 0 !important;
}
.ui-tabview .ui-tabview-panel {
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 1px 1px 1px !important;
}
.page-lab {
  padding: 18px;
}
.page > .status {
  text-align: center;
}
